* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Exo 2', sans-serif;
  background-image: url("../image/tennis-ball.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


/* .jumbotron {
  border: white 2px solid;
  /* border-radius: 3rem; */
/* padding: 10px;
  margin: 10px; */
/* text-align: center;
} */


h1 {
  color: #abdbc1;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-size: 75px;
}

button {
  position: relative;
  left: 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* h1 span {
  color: #ff99cc;
}  */

#time-left {
  color: white;
  font-size: 24px;
  text-align: center;
}