* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: #292525;
  font-family: 'Exo 2', sans-serif;
}


header {
  border: white 2px solid;
  border-radius: 3rem;
  padding: 10px;
  margin: 10px;
}

h1 {
  color: #33ccff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 105px;
}

h1 span {
  color: #ff99cc;
} 

#time-left {
  color: white;
  font-size: 24px;
  text-align: center;
}