* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Exo 2', sans-serif;
  background-image: url("../image/tennis-ball.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 55px;
  color: #ffffff;
  text-align: center;
}

#question {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
  color: white;
}

#time-left {
  color: white;
  text-align: center;
  margin: 15px;
}


#answers {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  border: 2px solid white;
  margin: 20px;
  margin-top: 25px;
}

#start-button, #submit {
  font-size: 33px;
  text-align: center;
  position: relative;
  left: 40%;
}